       /* Document styling */
*{
        margin:0;
        padding:0;
        box-sizing: border-box;
        scroll-behavior: smooth !important;
    }

body{
        background-color: rgba(14, 14, 14, 0.995);
        font-family:"Poppins", sans-serif;

    }

main{
        display:block;
    }


    /* TRANSITION FOR PAGES */
.transition {
    animation-name:transitionpage;
    animation-duration: 330ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.transitionnav {
    animation-name: transitionnav;
    animation-duration: 330ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes transitionpage{
    0%{
        opacity:0;
        margin-left: 15px;
    }

    100% {
        opacity:1;

    }
}

@keyframes transitionnav{
    0%{
        
    }

    100%{
    }
}

    /* Vertical navigation bar */
.navbar {
        display:flex;
        align-items: center;
        justify-content: center;
        writing-mode: vertical-lr;
        max-height: 100%;
        height: 100%;
        width:50px;
        position: fixed;
        top:0;
        left:0;
        z-index:100;
        border-right:1px solid black;
        box-shadow: 1px 0 5px 0 black;
        font-size:22px;
        gap:35px;   
        background-color: rgba(5, 5, 5, 0.995); ;
    }   

i {
        text-decoration: none;
        color:rgb(53, 53, 53);
    }

i:hover {
        color:rgb(0, 255, 183);

    }

    /* Contact me button */
    .contact {
        color:rgb(245, 236, 236);   
        font-size: 20px;
        border:1px solid rgb(0, 255, 183);
        margin:10px 0 0 0;
        max-width:140px;
        justify-content: center;
        align-items: center;
        display:flex;
        border-radius: 6px;
        padding:4px;
        pointer-events: all;
    }

.contact:hover {
        color:rgb(0, 255, 183);

    }
 /* header section */
.text {
    color:white;
    max-width:370px;
    min-width:370px;
    min-height:100px;
    pointer-events: none;
    margin:17% auto auto  11%;
    }

.header {
        font-size:48px;
        line-height: 45px;

    }

.header::after{
    content: ".";
    color:rgb(255, 0, 106);
    position:absolute;
    animation-name:bouncedot;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 4.3s;
    animation-direction:alternate;
    pointer-events: all;
    }

.excl::after{
        content: "'";
        color:rgb(255, 0, 106);
       
    }

.expertise{
        font-size:12px;
        line-height: 35px;
        color:rgb(88, 88, 88); ;
        letter-spacing: 2px;

    }

.d {
        width: 0;
        height:0;
        margin: -130px 0 0 950px;
        position: absolute;
        box-shadow: 0 0 200px 100px rgb(62, 200, 255);
        background-color:rgba(14, 14, 14, 0.995);
        color:rgba(14, 14, 14, 0.995);
        rotate:360deg;
        border-radius: 50px;
        pointer-events: none; 
        animation-name:spin;
        animation-duration: 5s;
        animation-direction: alternate;
        z-index: -1;
        animation-timing-function: cubic-bezier(0.555, 0.03, 0.385, 0.42)
    }
    
@keyframes spin {
        0% {rotate:360deg; box-shadow: -1050px 0 200px 100px rgb(62, 200, 255); }
        100% {rotate:0deg; box-shadow: 0 0 200px 100px rgb(62, 200, 255);}
        
    }
@keyframes bouncedot {
        0%{font-size:100%; margin:-3px 0 0 0}
        50% {margin:-15px 0 0 0; font-size: 100%}
        85% {margin:0 0 0 0; font-size:125%}
        100% {margin:0 0 0 0; font-size:100% }
    }


/* ABOUT PAGE */

/*
.aboutphoto {
    background-image: url('1profil-min.jpg');
    width: 192px;
    height: 200px;
    top:-30px;
    left:260px;
    border-radius: 100%;
    background-size:cover;
    display:flex;
    position:relative;
    background-repeat: no-repeat;
    box-shadow: 15px 15px 50px 15px black; 
}
/

/* About me content */
.timeline {
    width: fit-content;
    margin:13% 0 0 1%;
}

.contentinline {
    display: flex;
    width:fit-content;
}

#clock{
    color:rgb(232, 232, 232);
    font-size: 20px;
    display:inline-flex;
    position:relative;
    margin:3px 0 0 10px;
    width:fit-content;

}

.timelinetext {
    font-size:18px;
    display:flex;
    position:relative;
    letter-spacing: 2px;
    margin:0 0 0 120px;
    color: turquoise;
}

.timelinetextcontent {
    font-size:14px;
    max-width:600px;
    display:flex;
    position:relative;
    letter-spacing: 2px;
    margin:10px 0 0 120px;
    color: rgb(255, 255, 255);
}

/* TIME GRAPH */

.timegraph{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width:590px;
    top:100px;
}

.timeline1 {
    font-size:14px;
    width:160px;  
    color:white;
    list-style-type: none;
    border-top: 4px solid rgb(18, 216, 255);
    margin:0 0 0 3px;
    padding: 5px;
    pointer-events: none;
}

.timeline2 {
    font-size:14px;
    width:160px;
    color:white;
    display: inline-flex;
    list-style-type: none;
    border-top: 6px solid rgb(255, 75, 222);
    padding:5px;
    margin:-3px 0 0 3px;
    pointer-events: none;
}

.timeline3 {
    font-size:14px;
    width:160px;
    color:white;
    display: inline-flex;
    gap:100px;
    list-style-type: none;
    border-top: 8px solid rgb(255, 31, 31);
    padding:5px;
    margin:-6px 0 0 3px;
    pointer-events: none;
}

.above{
    margin-top:-95px;
    margin-left: 105px;
    position:absolute;
    pointer-events: none;
    font-size:11px;
    letter-spacing: 2px;
}

.above2 {
    margin-top: -47px;
    margin-left: 145px;
    position:absolute;
    pointer-events: none;
    font-size:11px;
    letter-spacing: 2px;
}

.aboveborder{
    margin-top:-55px;
    margin-left: -166px;
    width:480px;
    height: 10px;
    justify-content: center;
    align-items: center;
    display:inline-flex;
    position:absolute;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color:rgba(14, 14, 14, 0.995);
    pointer-events: none;
}

.aboveborder2 {
    margin-top:-30px;
    margin-left: -55px;
    width:210px;
    height: 10px;
    justify-content: center;
    align-items: center;
    display:flex;
    position:absolute;
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    color:rgba(14, 14, 14, 0.995);
    pointer-events: none;
}


    /* SKILLS PAGE */

.skillscontent{
    position: relative;
    margin:225px 0 0 10%;
}



.skillsheader{
    display:flex;
    position:relative;
    margin:0 0 50px 0;
    font-size: 45px;
    color:rgb(0, 255, 183);
    letter-spacing: 1px;
    text-transform:uppercase;
    pointer-events: none;
}


.sign {
    color:rgb(255, 0, 106);
}

.skillsheader::after{
    content: ".";
    color:rgb(255, 0, 106);
    margin-left:3px;
}

.skillstext{
    display:flex;
    max-width:700px;
    color:white;
    letter-spacing: 2px;
    line-height: 22px;
}

.gradientbackground{
    background: rgb(14,14,14);
    background: linear-gradient(160deg, rgba(14,14,14,1) 23%, rgba(0, 33, 78, 0.534) 59%, rgb(3, 85, 107) 100%);  
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

.neon {
    display:flex;
    position: fixed;
    width:5px;
    border-radius: 50px;
    height:500px;
    margin-top: -200px;;
    background-image: radial-gradient( circle 321px at 8.3% 75.7%,  rgba(209, 247, 241, 0.734) 0%, rgba(249, 213, 213, 0.778) 81% );
    left:1100px;
    box-shadow: 0px 0px 15px 7px rgb(255, 0, 106) ;
    animation-name: neonbar;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    animation-timing-function:ease-in-out;
    z-index: -1;
}

@keyframes neonbar {
    0% {

    }

    50% {
        rotate:180deg;
        margin-top: -100px;
        margin-left:-100px;
    }

    75%{
        rotate:270deg;
        margin-top:-200px;
        margin-left:0;
    }

    100% {
        rotate: 359deg;
        margin-top:-300px;
        margin-left:100px;
    }


}

/* PROJECTS SECTION */

/* Grid cotainers*/

.prjhead {
    display:grid;
    justify-content: center;
    align-items: center;
    font-size:35px;
    letter-spacing: 2px;
    margin: 0px 0 0 50px;
    color: rgb(0, 255, 183);
    text-shadow: 3px 2px  rgba(255, 0, 106, 0.907);
}

.grid-containerp {
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template-columns:auto auto auto auto auto;
    column-gap:25px;
    row-gap: 25px;
    margin: 30px 0 0 50px ;
    
}

.grid-itemp {
     background-color: rgb(33, 33, 33);
     width:250px;
     height: 300px;
     display:flex;
     position:relative;
     border:1px solid rgb(18, 18, 18);
     border-radius: 4px;
     box-shadow: 10px 10px 10px 0px rgb(2, 2, 2);
}

/* Containers content pop up */

#contentDiv {
    width:450px;
    height:550px;
    background-color: #111;
    position:relative;
    margin:-620px auto auto 565px;
    overflow: scroll;
    animation-name: "enlarge";
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    scrollbar-color: rgb(255, 0, 106) #333;
    scrollbar-width: thin;
    border:1px solid rgb(1, 1, 1);
    z-index:1;
    display:none;
}

.greybg {
    position:fixed;
    width:100%;
    height:100%;
    background-color: #00000099;
    top:0px;
    left:0px;
    z-index: -1;
    animation-name: "enlarge";
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.contentText {
    letter-spacing: 2px;
    font-size: 17px;
    margin:15px 0 0 0;
    color: #EBF2FA;
}

.contentImage {
    width:390px;
    height:120%;
    display:flex;
    position:relative;
    margin:auto auto 77px auto;
    top:40px;
    background-image: url('dog-site-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid black;
}

.contentImage:hover {
    transform:scale(1.08);
    transition: all 0.15s ease-in-out;
    
}

.contentImage:not(:hover){
    transform:scale(1);
    transition: all 0.15s ease-in-out;
}

@keyframes enlarge {
    0% {
        opacity:0;
    }

    100% {
        opacity: 1;
    }
}

/*close pop up button */
 
.closebutton      {
    font-size: 35px;
    color:rgba(89, 89, 89, 0.868);
    position:fixed;
    top:77px;
    right: 533px;
    rotate:45deg;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.closebutton:hover {
    color: rgb(153, 153, 153);
}

/* Container background image */

.first-grid {
    background-image: url('doggoedit-min.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat
}

.grid-itemp:hover {
    transform:scale(1.05);
    transition: all 0.2s ease-in-out;
}

.grid-itemp:not(:hover) {
    transform:scale(1);
    transition: all 0.2s ease-in-out;
}

/* hover effect on grids */

.dark {
    width:250px;
    height:298px;
    background-color: rgba(3, 3, 3, 0.736);
    justify-content: center;
    align-items: center;
    display:flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#EBF2FA;
    font-size: 21px;
    opacity:0;
}

a{
    text-decoration: none;
} 

.dark:hover{
    opacity:1;
    transition: opacity 0.2s ease-in-out;
}

.dark:not(:hover) {
    transition: opacity 0.2s ease-in-out;
}

/* CONTACT PAGE */

/* FORMS */
.contentform{
    display:flex;
    position:relative;
    max-width:600px;
    margin: 12% 0 0 10%;
    
}

form {
 width: 90%;
 max-width: 600px;
}

.input-group{
    margin-bottom: 30px;
    position:relative;
}

input, textarea {
    border-radius: 3px;
    width:100%;
    outline:0;
    padding:10px;
    border:1px solid #fff;
    background:transparent;
    font-size: 15px;
    color:#EBF2FA; 
    letter-spacing: 1px;

}

input:focus , textarea:focus {
    border-color: rgb(0, 255, 183);
}

label {
    height:100%;
    position:absolute;
    left:0;
    top:0;
    padding:10px;
    cursor:text;
    color: #fff;
    transition:all 0.1s ease;
}

.submitbtn {
    padding:10px 0px;
    color: #fff;
    outline: none;
    background:transparent;
    border:1px solid #fff;
    width:100%;
    cursor:pointer;
    border-radius: 3px;
    letter-spacing: 3px;
    font-weight:500
}

.submitbtn:hover {
    color:rgb(14, 14, 14);
    border-color: black;
    background-color: rgb(0, 255, 183);
    transition:all 0.1s ease;
}

.contacticon{
    color:rgb(0, 255, 183);
    margin-right: 4px;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top:-35px;  
    font-size: 14px;
}

.rowcontact{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.rowcontact .input-group{
    flex-basis:48%;
}

.formheader{
    position: absolute;
    top:-70px;
    font-size: 37px;
    color:rgb(0, 255, 183);
    text-shadow: 2px 2px rgb(255, 0, 106);
    letter-spacing: 1px;
    line-height: 45px;
    pointer-events: none;
}


.contactdirectly{
    display:inline-flex;
    position:absolute;
    bottom: -70px;
    font-size: 17px;
    color:rgb(0, 255, 183);
    letter-spacing: 2px;
    line-height: 45px;
}

#directly{
    margin: 8px 0 0 0;
    font-size: 27px;
    color:white;
}

#directly:hover {
    color:rgb(8, 76, 249);

}

/*MEDIA QUERIS */

@media (max-width:600px) {

    main{
        display:flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    html, body {
        overflow-x: hidden;
        height: 100vh;
        
    }
    .header{
        font-size:36px;
        line-height: 31px;
    }

    .text {
        margin-top:120px;
        
    }

    .navbar{
        font-size: 21px;
        gap:30px;
        writing-mode: horizontal-tb;
        height: 40px;
        width:100%;
    }
    .contact{
        font-size:15px;
        max-width:100px;
    }
    .expertise {
        font-size: 11px;
    }

    .d {
        animation:none;
        position: fixed; 
        margin:0; 
        top:100px;
        right: 50px;
    }

    /* TIME GRAPH */

.timegraph{
    min-width:300px;
    transform: scale(1.1)
}

.timeline1 {
    font-size:11px;
    width:90px;
}

.timeline2 {
    font-size:11px;
    width:90px;
}

.timeline3 {
    font-size:11px;
    width:90px;
    gap:23px;
}

.above{
    margin-top:-70px;
    margin-left: 40px;
    font-size:9px;
    letter-spacing: 1px;
}

.above2 {
    margin-top: -37px;
    margin-left: 68px;
    font-size:9px;
    letter-spacing: 1px;
}

.aboveborder{
    margin-top:-40px;
    margin-left: -98px;
    width:275px;
}

.aboveborder2 {
    margin-top:-25px;
    margin-left: -35px;
    width:119px;
}

/* About me content */

.timeline {
        margin:120px auto;
    }

#clock{
    font-size: 18px;    
}


.timelinetext {
    font-size:16px;
    margin:auto; 
}

.timelinetextcontent {
    font-size:12px;
    max-width:300px;
    letter-spacing: 1px;
    margin:auto;
}
/* SKILLS PAGE */
.neon{
    animation:none;
    transform: rotate(135deg);
    top:0px;
    left: 200px;
}
.skillstext{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    
}
.skillsheader{
font-size: 30px;
margin-bottom: 20px;
}
.skillscontent{
   margin:100px auto;
   max-width:315px;
}
/* contact page */
.contentform{
    top:100px;
}
.formheader{
    font-size: 25px;
}

label{
    font-size: 12px;
}

.submitbtn{
    font-size: 12px;
}
.contactdirectly{
    font-size: 14px;
}
.grid-containerp{
    grid-template-columns: auto;
    margin:25px auto auto auto
}

.prjhead{
    margin:100px auto auto auto;
}
}


@media (max-width:600px) and (min-height:801px) and (max-height:1000px)

{   
.text{
        margin-top:165px;
        transform: scale(1.15);
    }

.navbar{
        font-size: 22px;
        gap:30px;
        height: 50px;
        width:100%;
    }
/* TIME GRAPH */

.timeline{
    transform:scale(1.1)
}
.timegraph {
    transform:scale(1.14)
}

.skillscontent{
    transform: scale(1.15);
    top:40px;
}
.neon{
    left:350px;
    top:100px;
    
}



}
